* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000;
  color: #fff;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background-color: #2c2c2c;
}

.logo-text {
  font-size: 26px;
  font-weight: bold;
}

.login-area {
  display: flex;
  align-items: center;
  gap: 10px;
}

.login-area img {
  width: 35px;
}

.login-area a {
  text-decoration: none;
  color: #fff;
}

.container {
  display: flex;
  align-items: flex-start;
  padding: 60px 60px; 
  gap: 30px;
  width: 100%;
}

.side-navbar {
  width: 220px;
}

.side-navbar h1 {
  font-size: 40px;
  margin-bottom: 40px;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
  text-decoration: none;
  color: #fff;
  font-size: 22px;
}

.circle {
  width: 50px;
  height: 50px;
  background-color: #3bb3f3;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.menu-item.active .circle {
  background-color: #e6e6e6;
  color: #000;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
}

.divider img {
  height: 520px;
}

.content {
  flex: 1;
  width: 100%;
}

.top-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}


.input-area label {
  font-size: 18px;
}

.input-group {
  margin-top: 10px;
  display: flex;
  gap: 15px;
}

.input-group input {
  width: 350px;
  height: 40px;
  border-radius: 10px;
  border: none;
  padding-left: 10px;
}

.btn {
  background-color: #3bb3f3;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: #1d8fd0;
}

.action-buttons {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.image-area img {
  width: 200px;
  border-radius: 50%;
  padding: 20px;
}

h2 {
  margin-top: 40px;
  font-size: 24px;
}

.result-box {
  margin-top: 20px;
  height: 180px;
  width: 100%;
  background-color: #d9d9d9;
  border-radius: 25px;
}